BeautifulSoup==3.2.1
Django==1.7
Pillow==2.6.1
Unipath==1.0
boto==2.33.0
django-storages==1.1.8
jsonpickle==0.8.0
jsonschema==0.6
prettytable==0.7.2
termcolor==1.1.0
virtualenv==1.11.6
wsgiref==0.1.2
