{% extends 'base.html' %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/progress-bar.css" />
{% endblock extrahead %}

{% block achievements %}current{% endblock %}

{% block content %}
    <article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting"><!-- .post start -->
    <header><!-- header start -->
        <h2 class="page-title" itemprop="headline">Achievements</h2>
    </header><!-- header end -->
    <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->
        {% for goal in published_goals %}
        <h3>
            {% ifequal goal.percentage 100 %}<i class="fa fa-trophy"></i>{% endifequal %}
            {{ goal.title }}
        </h3>
        <p>
            <strong>Created:</strong> {{ goal.created }} | <strong>Updated:</strong> {{ goal.modified }}
        </p>
        {% if goal.picture %}
            <div class="captionImage left" style="width: 480px;">
                <img class="left" src="{{ goal.picture.url }}" alt="{{ goal.title }}" width="480" height="319" title=""/>
                <p class="caption">
                    My first goal
                </p>
            </div>
        {% endif %}
        
        {{ goal.description|safe }}

        <div class="progress">
          <div class="progress-bar 
            {% ifequal goal.percentage 100 %}
                progress-bar-success
            {% else %}
                progress-bar-striped active 
            {% endifequal %}" role="progressbar" aria-valuenow="{{ goal.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ goal.percentage}}%;">
            <div class="content">{{ goal.percentage }}%</div>
          </div>
        </div>
        <hr/>
        {% endfor %}
    </section><!-- .post-content end -->
    </article><!-- .post end -->
{% endblock %}