{% extends 'base.html' %}

{% block achievements %}current{% endblock %}

{% block content %}
    <article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting"><!-- .post start -->
    <header><!-- header start -->
        <h2 class="page-title" itemprop="headline">Achievements</h2>
    </header><!-- header end -->
    <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->
    </section><!-- .post-content end -->
    </article><!-- .post end -->
{% endblock %}