{% extends 'base.html' %}
  
{% block contacts %}current{% endblock %}

{% block content %}
  <article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting"><!-- .post start -->
    <header><!-- header start -->
      <h2 class="page-title" itemprop="headline">Contacts</h2>
    </header><!-- header end -->
    
    <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->
      <h3>How to find me</h3>
      <ul>
        {% for prim in primary_contacts %}
          <li> On <a title="{{ prim.icon }}" href="{{ prim.link }}"><i class="icon-{{ prim.icon }}-sign"></i> {{ prim.label|title }}</a></li>
        {% endfor %}
      </ul>
      <h3>Or eventually...</h3>
      <ul>
        {% for seco in secondary_contacts %}
          <li> {{ seco.description|capfirst }} <a title="{{ seco.icon }}" href="{{ seco.link }}">{{ seco.label|title }}</a></li>
        {% endfor %}
        <li> Say hello by <a title="email" href="mailto:{{ profile.email }}">email</a>!</li>
      </ul>
    </section><!-- .post-content end -->
  </article><!-- .post end -->
{% endblock %}