{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block home %}current{% endblock %}

{% block content %}
<article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting"><!-- .post start -->
    <header><!-- header start -->
      <h2 class="page-title" itemprop="headline">Home</h2>
    </header><!-- header end -->
    <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->
      <p style="text-align: center;">
        {% if profile.picture %}
          <img src="{{ profile.picture.url }}" alt="flavoi profile picture" width="940" height="390" title=""/>
        {% endif %}
      </p>
      <p>
        {{ profile.job_content|safe }}
      </p>
      <p>
        <strong><i class="fa fa-star"></i> </a>Latest goal: </strong> <a href="{% url 'achievements' %}">{{ current_goal.title }}</a>.
      </p>
      <p>
        {{ profile.hobby_content|safe }} 
      </p>
      <p>
       <strong><i class="fa fa-star"></i> </i> Favourite hobby:</strong> the role playing. <a target="_blank" title="pathfinder" href="http://paizo.com/pathfinder">Pathfinder</a>, for the win.
      </p>
      <hr/>
      <h4>Professional skills?</h4>
      {% if profile.cv %}
        <a target="_blank" class="button" title="my curriculum vitae" href="{{ profile.cv.url }}">Download my Curriculum Vitae</a>
      {% endif %}
    </section><!-- .post-content end -->
  </article><!-- .post end -->
{% endblock %}