{% extends 'base.html' %}

{% block content %}
    <div class="background-img">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <h1 class="title"> &nbsp;500 <br/>
                    <p class="error-msg">We're sorry, but something went wrong. We are working an fixing this. <br/> Please refresh the page in a couple of seconds.</p>
                </h1>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}