{% extends 'base.html' %}

{% block title %}about{% endblock title %}

{% block navigation %}{% endblock navigation %}


{% block bodyclass %}profile{% endblock bodyclass %}

{% block content %}

  <div class="page-header page-header-xs" {% if profile.header %}style="background-image: url({{ profile.header.url }});"{% endif %}>
      <div class="filter"></div>
  </div>
  <div class="profile-content section">
      <div class="container">
          <div class="row">
              {% if profile.picture %}
              <div class="profile-picture">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-new img-no-padding">
                          <img src="{{ profile.picture.url }}" alt="{{ profile.name }}">
                      </div>
                      <div class="name">
                          <h4 class="title text-center">{{ profile.name|title }} {{ profile.surname|title }}<br /><small>Dungeon Master</small></h4>
                      </div>
                </div>
              </div>
              {% endif %}
          </div>
          <div class="row">
              <div class="col-md-6 offset-md-3 text-center">
                  <p>{{ profile.job_content|striptags }}</p>
                  <p>{{ profile.hobby_content|striptags }}</p>
                  <br />
                  <a class="btn btn-outline-default btn-round" href="{% url 'achievements' %}"><i class="fa fa-align-center" aria-hidden="true"></i> Blog</a>
              </div>
          </div>
          <br/>
  </div>
{% endblock content %}

