{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block home %}current{% endblock %}

{% block content %}
<article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting"><!-- .post start -->
    <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->
    <div class="text-center">
      {% if profile.picture %}
        <img src="{{ profile.picture.url }}" alt="flavoi profile picture" width="940" height="390" title=""/>
      {% endif %}
      <div class="row">
        <div class="card-box col-md-4 col-sm-4">
            <div class="cardtext-center">
              <div class="content">
               <div class="price">
                  <h2 class="title">5</h2>
                  <p class="description text-center">Inspirations</p>
                </div>
              </div>
          </div>
        </div>
         <div class="card-box col-md-4 col-sm-4">
            <div class="cardtext-center">
              <div class="content">
               <div class="price">
                  <h2 class="title">10</h2>
                  <p class="description text-center">Momenti</p>
                </div>
              </div>
          </div>
        </div>
         <div class="card-box col-md-4 col-sm-4">
            <div class="cardtext-center">
              <div class="content">
               <div class="price">
                  <h2 class="title">1</h2>
                  <p class="description text-center">Ideas</p>
                </div>
              </div>
          </div>
        </div>
      </div> <!-- end grid row -->
      <h3>About me</h3>
      {% if profile.hobby_content %}
        {{ profile.job_content|safe }}
      {% endif %}
      {% if profile.hobby_content %}
        {{ profile.hobby_content|safe }}
      {% endif %}
      <hr />
      <h3>My Portfolio</h3>
      {% if profile.cv %}
        <p><a target="_blank" class="button" title="my curriculum vitae" href="{{ profile.cv.url }}">Download my Curriculum Vitae</a></p>
      {% endif %}
    </div>
    </section><!-- .post-content end -->
  </article><!-- .post end -->
{% endblock %}