{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block home %}current{% endblock %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
<article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting"><!-- .post start -->

  {% if profile.picture %}
  <div class="row">
    <div class="profile-header-container" style="max-width: 450px;">    
      <div class="profile-header-img">
        <img class="img-circle" src="{{ profile.picture.url }}" />
      </div>
      {% for r in reports %}
      <div class="card-box col-md-4 col-xs-4">
          <div class="cardtext-center">
            <div class="content">
             <div class="price">
                <h2 class="title text-center">{{ r.1 }}</h2>
                <h5 class="description text-center">{{ r.0|title }}</h5>
              </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div><!-- end profile container -->
  </div><!-- end profile row -->

  {% endif %}
  
  <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->

      {% if profile.job_content %}
        <p class="text-center">{{ profile.job_content|striptags }}</p>
      {% endif %}
      
      {% if profile.hobby_content %}
        <p class="text-center">{{ profile.hobby_content|striptags }}</p>
      {% endif %}

  </section><!-- .post-content end -->

  <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->
  <div class="col-md-6 col-md-offset-3 text-center"> 
    <h3>My Portfolio</h3>
    {% if profile.cv %}
    <div class="control-group">
      <a target="_blank" class="button" title="my curriculum vitae" href="{{ profile.cv.url }}">Download my Curriculum Vitae</a>
    </div>
    {% endif %}
  </div>
  </section>

  </article><!-- .post end -->
</div>
{% endblock %}