{% extends 'base.html' %}

{% block title %}achievements{% endblock %}

{% block extralevel %}level-two{% endblock %}
{% block achievements %}current parent{% endblock %}
{% block nav_achievements %}
    <ul>
        <li><a href="{% url 'achievements' %}" title="all-history" class="{{ history_link_class }}">All History</a></li>
        {% for t in themes %}
        <li><a href="{% url 'achievements_theme' t %}" title="t.title" class="{% ifequal t.title this_link_class %}current{% else %}link{% endifequal %}">{{ t }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting"><!-- .post start -->
        <header><!-- header start -->
            <h2 class="page-title" itemprop="headline">Achievements</h2>
        </header><!-- header end -->
        <section class="post-content clearfix" itemprop="articleBody"><!-- .post-content start -->
            {% if published_goals %}
                {% for goal in published_goals %}
                    <h3 class="postTitle">
                        <a href="{% url 'achievement_detail' goal.pk %}">{{ goal.title }}</a>
                    </h3>

                    <p class="authorDate">
                        <strong style="color: {{ goal.theme.color}} ">{{ goal.theme.icon.as_html }} {{ goal.theme }}</strong> |
                        <strong>Created:</strong> {{ goal.created }} | 
                        <strong>Updated:</strong> {{ goal.modified }}
                    </p>

                    {{ goal.abstract|safe }}

                    <h4>
                        <a href="{% url 'achievement_detail' goal.pk %}" title="read-more">read more ></a>
                    </h4>

                    <hr/>
                {% endfor %}

                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
                
            {% else %}
                <h4>There aren't any goals :(</h4>
            {% endif %}
        </section><!-- .post-content end -->
    </article><!-- .post end -->
{% endblock %}