{% extends 'base.html' %}

{% block title %}{{ published_goal_detail.title}}{% endblock title %}

{% block navigation %}
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'about' %}">
            Flavio
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-round btn-info" href="{% url 'achievements' %}"><i class="fa fa-backward" aria-hidden="true"></i> to Blogposts</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock navigation %}

{% block bodyclass %}blog-page{% endblock bodyclass %}

{% block content %}
    <div class="main">
        <div class="section section-white">
            <div class="container">

                <div class="article">

                    <div class="row">
                        <div class="col-md-10 offset-md-1 col-sm-12">
                            <div class="text-center">
                                <span class="label label-warning main-tag">{{ published_goal_detail.theme }}</span>
                                <a href="javascrip: void(0);"><h3 class="title">{{ published_goal_detail.title }}</h3></a>
                                <h6 class="title-uppercase">{{ published_goal_detail.publication_date }}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-8 offset-md-2">

                            {% if published_goal_detail.picture %}
                            <a href="{{ published_goal_detail.picture.url }}">
                                <div class="card" data-radius="none" style="background-image: url('{{ published_goal_detail.picture.url }}');"></div>
                                <p class="image-thumb text-center">{{ published_goal_detail.caption }}</p>
                            </a>
                            {% endif %}

                            <div class="article-content">
                                {{ published_goal_detail.description|safe }}
                            </div>

                            <div class="article-footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% for attachment in published_goal_detail.attachment_set.all %}
                                            <a target="_blank" class="btn btn-outline-default btn-border btn-round" href="{{ attachment.file.url }}">
                                                <i class="fa fa-download fa-fw"></i> {{ attachment.label|capfirst }}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="media">
                                     <a class="pull-left" href="{% url 'about' %}">
                                         <div class="avatar big-avatar">
                                               <img class="media-object" alt="64x64" src="{{ profile.picture.url }}">
                                         </div>
                                     </a>
                                     <div class="media-body">
                                           <h4 class="media-heading">{{ profile.name }} {{ profile.surname }}</h4>
                                           <p>{{ profile.description|striptags }}</p>

                                     </div>
                                 </div>
                            </div>

                            <div class="comments media-area">
                                <h3 class="text-center">Comments</h3>
                                    <div id="disqus_thread"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block extrascript %}
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
    this.page.url = 'http://flavoi.it{{ request.path }}';
    this.page.identifier = '/{{ request.path }}/';
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://flavoi.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script id="dsq-count-scr" src="//flavoi.disqus.com/count.js" async></script>
{% endblock extrascript %}
