{% extends 'base.html' %}

{% block title %}blog{% endblock title %}

{% block navbarscrolls %}{% endblock navbarscrolls %}

{% block content %}
<div class="section section-gray">
    <div class="container">

        <br /><br />

        <div class="row">

            <div class="col-md-8">
                {% if published_goals %}
                <div class="row">
                    {% for goal in published_goals %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="{% url 'blog:detail' goal.slug %}">
                                    {% if goal.picture %}
                                        <img class="img img-raised" src="{{ goal.picture.url }}">
                                    {% endif %}
                                </a>
                            </div>
                            
                            <div class="card-block">
                                {% if goal.hot %}
                                <h6 class="card-category text-danger">
                                    <i class="fa fa-free-code-camp" aria-hidden="true"></i> Hot Story
                                </h6>
                                {% else %}
                                <h6 class="card-category text-warning">{{ goal.theme }}</h6>
                                {% endif %}
                                <h5 class="card-title">
                                    <a href="{% url 'blog:detail' goal.slug %}">{{ goal.title }}</a>
                                </h5>
                                <p class="card-description">
                                    {{ goal.abstract|safe }} <br>
                                </p>
                                <hr>
                                <div class="card-footer">
                                    <div class="author">
                                        <a href="{% url 'bio:about' %}">
                                            {% if profile.picture %}
                                            <img src="{{ profile.picture.url }}" alt="{{ profile.name }}" class="avatar img-raised">
                                            {% endif %}
                                            <span>{{ profile.name }}</span>
                                        </a>
                                    </div>
                                    <div class="stats">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> {{ goal.publication_date|date:"d/m/Y" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <h3>There are no posts yet :-(</h3>
                {% endif %}    
            </div> <!-- End grid column -->
            <div class="col-md-4">
                <div class="card card-plain">       
                        <div class="card-block" role="tab" id="priceRanger">
                            <form role="search" class="form-inline" action="{% url 'blog:search' %}" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="q" {% if 'search_query' %}value={{ search_query }}{% endif %}>
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </form>
                        </div>
                        <!--

                        <div class="card-header card-collapse" role="tab" id="clothingGear">
                            <h5 class="mb-0 panel-title">
                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#themes" aria-expanded="true" aria-controls="collapseSecond">
                                    Themes
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </h5>
                        </div>

                        <div id="themes" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                {% for theme in themes %}
                                <div class="checkbox">
                                    <input id="checkbox{{ theme.pk }}" type="checkbox" checked="">
                                    <label for="checkbox{{ theme.pk }}">
                                        {{ theme }}
                                    </label>
                                </div>
                                {% endfor %}                                    
                            </div>                                
                        </div>-->
                    </div>
            </div>
        </div> <!-- End row -->

        {% if is_paginated %}
            <br />
          <ul class="pagination" style="justify-content: center;">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div> <!-- End container -->
</div> <!-- End section -->


{% endblock content %}

{% block footerclass %}section-gray{% endblock footerclass %}