{% extends 'base.html' %}

{% block title %}{{ published_goal_detail.title}}{% endblock title %}

{% block content %}
    <div class="main">
        <div class="section section-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center title">
                        <h2>{{ published_goal_detail.title }}</h2>
                        <h3 class="title-uppercase"><small>{{ published_goal_detail.abstract|safe }}</small></h3>
                    </div>
                </div>
                <div class="article">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            {% if published_goal_detail.picture %}
                            <a href="javascrip: void(0);">
                                <div class="card" data-radius="none" style="background-image: url('{{ published_goal_detail.picture.url }}');"></div>
                            </a>
                            {% endif %}
                            <div class="article-content">
                                {{ published_goal_detail.description|safe }}
                            </div>
                            <div class="article-footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Theme:</h5>
                                            <span class="label label-default">{{ published_goal_detail.theme }}</span>
                                            {% if published_goal_detail.hot %}
                                            <span class="label label-danger">Hot Story</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="sharing">
                                                <h5>Spread the word</h5>
                                                <button class="btn btn-just-icon btn-twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </button>
                                                <button class="btn btn-just-icon btn-facebook">
                                                    <i class="fa fa-facebook"> </i>
                                                </button>
                                                <button class="btn btn-just-icon btn-google">
                                                    <i class="fa fa-google"> </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="media">
                                     <a class="pull-left" href="#paper-kit">
                                         <div class="avatar big-avatar">
                                               <img class="media-object" alt="64x64" src="{{ profile.picture.url }}">
                                         </div>
                                     </a>
                                     <div class="media-body">
                                           <h4 class="media-heading">{{ profile.name }} {{ profile.surname }}</h4>
                                           <p>{{ profile.description }}</p>

                                     </div>
                                 </div>
                            </div>

                            <div class="comments media-area">
                                <h3 class="text-center">Comments</h3>
                                    <div id="disqus_thread"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block extrascript %}
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
    this.page.url = 'http://flavoi.it{{ request.path }}';
    this.page.identifier = '/{{ request.path }}/';
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://flavoi.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script id="dsq-count-scr" src="//flavoi.disqus.com/count.js" async></script>
{% endblock extrascript %}
